.banaan {
  border: yellow 3px solid;
}

.margin-top {
  margin-top: 70px;
}
.padding-top {
  padding-top: 70px;
}

/*cards  */
.viewport-100 {
  height: 100vh;
  position: relative;
}
.viewport-100-extra {
  height: 120vh;
  position: relative;
}
.card {
  background-color: $primary;
  border: none;
  border-radius: 0px;
}
/* achtergrond */
.bg-1 {
  background-color: $primary;
}
.bg-2 {
  background-color: $beige;
}
.bg-3 {
  background-color: $darkblue;
}
.bg-none {
  background: transparent;
}

/* pijl onderaan de card */
.pijl {
  width: 60px;
  transition: transform 400ms ease-in;
  
}
.pijl:hover {
  transform: translate(0,5px);
}
.pijl-omhoog {
  transition: transform 400ms ease-in;
}
.pijl-omhoog:hover{
  transform: rotate(-180deg);
}
.pijl_position{
  position: absolute;
  bottom: 35px;
}

/* buttons */
.btn-primary {
  border: $white 2px solid;
  background-color: transparent;
  color: $text;
  font-family: $font-family-base;
  font-size: 1.4em;
  width: 100%;
  margin: 10px 0px;
  transition: transform 300ms ease-in;
  &:hover {
    color: $text;
    transform: translate(0,5px);
    border: $white 2px solid;
    background-color: transparent !important;
    box-shadow: 0 0px 10px 0px rgba(255, 255, 255, 0.6);
  }
  &:active {
    color: $text !important;
    transform: translate(0,5px);
    border: $white 3px solid !important;
    background-color: transparent !important;
    box-shadow: 0 0px 10px 0px rgba(255, 255, 255, 0.6) !important;
  }
}

/* Accountpagina */
.account-foto {
  border-radius: 100%;
  height: 150px;
  width: auto;
  // margin-bottom: -100px;
}

.ac-margin-left {
  margin-left: 80px;
}
.ac-text-positioning {
  top: -10%;
}
.reservatie {
  background-color: transparent;
  border: 2px $white solid;
  border-radius: 5px;
  color: $white;
  &:hover {
    color: $beige;
    background-color: $white;
  }
}


/* fonts */
body {
  background-color: $primary;
  font-family: $font-family-text;
  font-size: 1em;
  color: $text;
}
h1, h2 {
  font-family: $font-family-base;
  font-size: 2.4em;
}
h3, h4, h5, h6 {
  font-family: $font-family-base;
  font-size: 1.8em;
}
.quote {
  font-family: $font-family-base;
  font-size: 2.4em;
}
.nav-tekst a {
  color: $darkestblue;
  font-family: $font-family-base;
  font-size: 1.5em;
}
.haast-je {
  font-size: 0.8em;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 600;
}



/* opsommingen */
.geen-opsomming {
  list-style-type: none;
}
.fa {
  text-indent: -25px;
}
a {
  text-decoration: none;
}

/* links */
a:hover {
  text-decoration: none;
}


/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .account-foto {
    border-radius: 100%;
    height: 230px;
    width: auto;
  }
  .ac-margin-left {
    margin-left: 0px;
  }
  .ac-text-positioning {
    top: -25%;
  }
  .viewport-100-extra {
    height: 100vh;
    position: relative;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .kolomverdelen {
        columns: 2;
        -webkit-column-gap: 1.5em;
    }
    .account-foto {
      border-radius: 100%;
      height: 230px;
      width: auto;
    }
    .ac-margin-left {
      margin-left: 0px;
    }
    .ac-text-positioning {
      margin-top: 32%;
    }
    .viewport-100-extra {
      height: 100vh;
      position: relative;
    }
  }











