//------------------------------------------//
//              Parallax                    //
//------------------------------------------//

.parallax-move {
    padding-left: 60px;
  }
  .parallax-titel {
    font-size: 0.9em;
    margin-bottom: 20px;
  }
  .parallax-tekst {
    color: $darkestblue;
  }
  /*Opmaak van slideshow*/
  .sp-slideshow {
    position: relative;
    margin: 40px auto;
    padding: 30px;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  }
  /*opmaak en verbergen van content*/
  .sp-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /*opmaak en instellen van achtergrond*/
  .sp-parallax-bg {
    background: $parallax repeat-x scroll 0 0;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /*opmaak en verbergen van radio buttons*/
  .sp-slideshow input {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 9px;
    height: 9px;
    z-index: 1001;
    cursor: pointer;
    opacity: 0;
  }
  
  /*animatie*/
  .sp-slideshow input:checked ~ .sp-content {
    transition: background-position ease-in 0.6s, background-color ease-in 0.8s;
  }
  
  .sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
    transition: background-position ease-in 0.7s;
  }
  
  input.sp-selector-2:checked ~ .sp-content {
    background-position: -100% 0;
  }
  
  input.sp-selector-3:checked ~ .sp-content {
    background-position: -200% 0;
  }
  
  /*verschuiving van de achtergrond*/
  input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
    background-position: 0 0;
  }
  
  input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
    background-position: 200px 0;
  }
  
  /*lange strook met alle content die verschuift en telkens een deel van de content toont*/
  .sp-slider {
    position: relative;
    left: 0;
    width: 300%;
    list-style: none;
    transition: left ease-in 0.7s;
  }
  /*content li*/
  .sp-slider > li {
    box-sizing: border-box;
    height: 100%;
    opacity: 0.4;
    transition: opacity ease-in 0.4s 0.7s;
  }
  .sp-slider li h2{
    font-size: 18px;
  }
  
  /*verschuiven content*/
  input.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: -3%;
  }
  
  input.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -150%;
  }
  
  // input.sp-selector-3:checked ~ .sp-content .sp-slider {
  //   left: -195%;
  // }
  
  input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
  input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
  input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3) {
    opacity: 1;
  }
  
  //              Step 1                     //
  //               Date                      //
  #dayCarouselControls,#hourCarouselControls,#minutesCarouselControls{
    height: 15vh;
  }
  
  #dayCarouselControls .carousel-item p, #dayCarouselControls .carousel-item h3,
  #hourCarouselControls .carousel-item p, #hourCarouselControls .carousel-item h3,
  #minutesCarouselControls .carousel-item p, #minutesCarouselControls .carousel-item h3{
    margin: 6px 30px;
    padding: auto;
    top: 15px;
    position: relative;
    left: 20px;
  }
  #dayCarouselControls .carousel-item p,
  {
    padding: auto;
    top: 20px;
    position: relative;
    left: -25px;
  }
  #hourCarouselControls .carousel-item h3,
  #minutesCarouselControls .carousel-item h3{
    left: 5px;
  }
  #hourCarouselControls .carousel-item p,
  {
    left: 6px;
  }
  #minutesCarouselControls .carousel-item p{
    left:-12px;
  }
  
  //              Step 2                     //
  #qrcode-img{
    width:50%;
  }
  
  
  
  // knoppen parallax //
  .btn-parallax {
    width: 58%;
    color: $darkestblue;
    border-color: $darkestblue;
    &:hover {
      color: $darkestblue !important;
      border-color: $darkestblue !important;
      box-shadow: 0 0px 10px 0px rgba(22, 48, 67, 0.6) !important;
    }
  }
  // .btn-parallax:hover, .btn-parallax:active {
    
  // }
  
  // .btn-parallax:hover {
  //   width: 58%;
  //   color: $darkestblue;
  //   border-color: $darkestblue;
  // }
  
  //pijltjes//
  // span.carousel-control-prev-icon {
  //   margin-left: -60px;
    
  // }
  // span.carousel-control-next-icon {
  // margin-right: -120px;
  // }
  
  .pijl_carousel {
    height: 25px;
    width: auto;
    margin: 0px 100px;
  }
  .pijl_carousel_left {
    margin-left: -20px;
  }
  .pijl_carousel_right {
    margin-right: -60px;
  }
  
  

.qr-code {
  width: 150px !important;
  height: auto;
  margin: 50px 45px;
}


  /* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .parallax-move {
        padding-left: 200px;
    }
    .parallax-titel {
        font-size: 1em;
        margin-bottom: 20px;
    }
    .pijl_carousel {
        height: 27px;
        width: auto;
        margin: 0px 200px;
    }
    .pijl_carousel_left {
        margin-left: 0px;
    }
    .pijl_carousel_right {
        margin-right: 220px;
    }
    /* positie tekst in parallax */
    input.sp-selector-1:checked ~ .sp-content .sp-slider {
        left: -4%;
    }
    input.sp-selector-2:checked ~ .sp-content .sp-slider {
        left: -153%;
    }




    .qr-code {
      width: 150px !important;
      height: auto;
      margin: 0px 45px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .parallax-move {
    padding-left: 370px;
    }
    .parallax-titel {
    font-size: 1em;
    margin-bottom: 20px;
    }
  
    .pijl_carousel {
    height: 30px;
    width: auto;
    margin: 0px 200px;
    }
    .pijl_carousel_left {
    margin-left: -100px;
    }
    .pijl_carousel_right {
    margin-right: 450px;
    }
    /* positie tekst in parallax */
    input.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: 4%;
    }
    input.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -145%;
    }



    .qr-code {
      width: 200px !important;
      height: auto;
      margin: 0px 30px;
    }
}






